* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  background-color: black;
}

.sidebar {
  display: flex;

  height: 100vh;
  width: 400px;
}

.sidebarLogo {
  margin-top: 10px;
  margin-left: 10px;

  height: 30px;
}
